<!DOCTYPE html>
<html>
    <a href="/">home</a><strong> | </strong>
    <a href="/blog">all posts</a><strong> | </strong>
    <a href="/newpost">new post</a>

    <head>
      <title>blog!</title>
    </head>

    <body>
      <h1>blog!</h1>

        {% for art in arts %}
            <div class="art">
              <div class="art-title">
		<a href="/blog/{{art.key().id()}}">
		  {{art.title}}
		<a>
	      </div>
              <pre class="art-body">{{art.art}}</pre>
            </div>
        {% endfor %}
    </body>
</html>
